---
import Layout from "../layouts/Layout.astro";
---

<Layout title="MAT">
    <!-- Cabecera -->
    <header class="bg-[#13151a] text-white p-6 shadow-lg">
        <div class="flex items-center justify-between">
            <div class="flex flex-col">
                <h1 class="text-3xl la-belle-aurore-regular">MAT</h1>
                <h2 class="text-lg">Market Accessibility Technology</h2>
            </div>
            <!-- Caja adicional con fondo ámbar alineada a la derecha -->
            <div class="w-12 h-12">
                <img
                    src="/MAT/logomat1.svg"
                    alt="Logo de MAT con diseño de tecnología y accesibilidad"
                    class="w-full h-full object-contain"
                />
            </div>
        </div>
    </header>

	<section
    class="pb-80 bg-cover bg-center mb-8 mt-8 ms-8 mr-8 rounded-2xl"
    style="background-image: url('/MAT/portada.svg'); height: 73vh;"
>
    <div class="text-white text-center py-40">
        <h2 class="text-4xl la-belle-aurore-regular">MAT COMPANY</h2>
        <p class="text-lg">
            Comercio, accesibilidad y tecnología en un solo lugar.
        </p>
    </div>
</section>


    <!--btn Únete a MAT  -->
    <div class="cta-container">
        <a href="https://wa.me/573143333814" target="_blank">
            <button class="cta-btn">¡Únete a MAT!</button>
        </a>
    </div>

    <!-- Sección de aliados -->
    <section class="p-8 text-white mb-8">
        <h2 class="text-3xl la-belle-aurore-regular">Nuestros Aliados</h2>
        <div class="mt-6 space-y-4">
            <a
                href="http://localhost/pc_gamer/"
                target="_blank"
                class="block text-lg text-yellow-500 hover:text-yellow-300"
                >PC Gamer</a
            >

            <a
                href="http://localhost/abel_store/"
                target="_blank"
                class="block text-lg text-yellow-500 hover:text-yellow-300"
                >Abel Store</a
            >
        </div>
    </section>

    <!-- Sección de misión y características -->
    <section
        class="grid grid-cols-1 md:grid-cols-3 gap-8 p-8 bg-gray-800 text-white"
    >
        <!-- Misión -->
        <div class="flex flex-col border-r border-gray-600 pr-8">
            <h2 class="text-3xl la-belle-aurore-regular">Misión</h2>
            <p class="text-lg mt-4">
                Creamos un sistema de tiendas virtuales para que los
                administradores gestionen eficientemente, mejoren la experiencia
                de compra y potencien su crecimiento en el mercado digital
            </p>
        </div>

        <!-- Características -->
        <div class="flex flex-col border-r border-gray-600 pr-8">
            <h2 class="text-3xl la-belle-aurore-regular">Características</h2>
            <ul class="mt-4 space-y-4">
                <li class="flex items-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        class="w-6 h-6 text-yellow-500"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 6v12m6-6H6"></path>
                    </svg>
                    <p class="ml-3">Compra rápida y sin complicaciones.</p>
                </li>
                <li class="flex items-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        class="w-6 h-6 text-yellow-500"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 6v12m6-6H6"></path>
                    </svg>
                    <p class="ml-3">
                        Optimización de la experiencia de compra.
                    </p>
                </li>
                <li class="flex items-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        class="w-6 h-6 text-yellow-500"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 6v12m6-6H6"></path>
                    </svg>
                    <p class="ml-3">
                        Herramientas efectivas para potenciar tus ventas.
                    </p>
                </li>
            </ul>
        </div>

        <!-- Beneficio -->
        <div class="flex flex-col">
            <h2 class="text-3xl la-belle-aurore-regular">Beneficio</h2>
            <p class="text-lg mt-4">
                Nuestro sistema ofrece a los administradores un control más
                eficiente de su tienda, ayudándoles a aumentar las ventas y
                mejorar la visibilidad de sus productos.
            </p>
        </div>
    </section>
    <div class="mt-8 mb-8 ms-8 mr-8 grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- Accessibility -->
        <div class="flex flex-col justify-between h-full mr-4">
            <div
                class="w-full h-[40vh] flex justify-center items-center rounded-lg shadow-lg"
            >
                <img
                    src="/MAT/accessibility.svg"
                    alt="Imagen representativa de aliados 2"
                    class="w-[50%] h-auto object-contain"
                    loading="lazy"
                />
            </div>
        </div>

        <!-- Market -->
        <div class="flex flex-col justify-between h-full mr-4">
            <div
                class="w-full h-[40vh] flex justify-center items-center rounded-lg shadow-lg"
            >
                <img
                    src="/MAT/market.svg"
                    alt="Imagen representativa de aliados 2"
                    class="w-[50%] h-auto object-contain"
                    loading="lazy"
                />
            </div>
        </div>

        <!-- Technology -->
        <div class="flex flex-col justify-between h-full">
            <div
                class="w-full h-[40vh] flex justify-center items-center rounded-lg shadow-lg"
            >
                <img
                    src="/MAT/technology.svg"
                    alt="Imagen representativa de aliados 3"
                    class="w-[50%] h-auto object-contain"
                    loading="lazy"
                />
            </div>
        </div>
    </div>

    <!-- Sección Apoya Tecnoparque -->
    <section class="text-white p-8">
        <h2 class="text-3xl la-belle-aurore-regular mb-10">Apoya</h2>
        <div class="flex justify-center mb-10 items-center">
            <a href="https://redtecnoparque.com/" target="_blank">
                <img
                    src="/MAT/logotecnoparque.svg"
                    alt="Logo de Apoya Tecnoparque"
                    class="w-96 h-auto object-contain"
                    loading="lazy"
                />
            </a>
        </div>
    </section>

    <!-- Pie de página -->
    <footer class="bg-[#101216] text-white py-8 px-6 relative">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            <!-- Logo e información de soporte -->
            <div class="flex flex-col items-center">
                <h2 class="text-xl font-semibold">Contacto</h2>
                <ul class="text-sm mt-2 space-y-1 text-center">
                    <li class="flex items-center justify-center mr-5 mt-4">
                        <img
                            src="/MAT/iconowasa.svg"
                            alt="WhatsApp"
                            class="w-4 h-4 ml-2 mr-2"
                            loading="lazy"
                        />
                        <img
                            src="iconotelefono.svg"
                            alt="Teléfono"
                            class="w-4 h-4 mr-2"
                            loading="lazy"
                        />
                        +57 314 333 3814
                    </li>
                    <li class="flex items-center justify-center">
                        <img
                            src="/MAT/iconocorreo.svg"
                            alt="Correo electrónico"
                            class="w-4 h-4 mr-2"
                            loading="lazy"
                        />
                        company@mat.com
                    </li>
                </ul>
            </div>

            <!-- Redes sociales -->
            <div class="flex flex-col items-center lg:items-center space-y-4">
                <h2 class="text-xl font-semibold">Síguenos</h2>
                <span class="text-yellow-500 text-sm">@MatCompany.com</span>
                <div class="flex space-x-6 items-center">
                    <img
                        src="/MAT/logofacebok.svg"
                        alt="Facebook de MAT"
                        class="w-6 h-6"
                        loading="lazy"
                    />
                    <img
                        src="logoinstagram.svg"
                        alt="Instagram de MAT"
                        class="w-6 h-6"
                        loading="lazy"
                    />
                    <img
                        src="logox.svg"
                        alt="Twitter de MAT"
                        class="w-6 h-6"
                        loading="lazy"
                    />
                </div>
            </div>

            <!-- Código QR -->
            <div class="flex flex-col items-center space-y-4">
                <h2 class="text-xl font-semibold">QR sitio web</h2>
                <img
                    src="/MAT/qrcode.png"
                    alt="Código QR para descargar la app"
                    class="w-24 h-24 object-contain"
                    loading="lazy"
                />
            </div>
        </div>

        <!-- Logo en la esquina inferior izquierda -->
        <div class="absolute bottom-4 left-6">
            <img
                src="/MAT/logomat.svg"
                alt="Logo de MAT"
                class="w-14 h-14 object-contain"
                loading="lazy"
            />
        </div>

        <!-- Logo en la esquina inferior derecha -->
        <div class="absolute bottom-4 right-6">
            <img
                src="/MAT/logomat.svg"
                alt="Logo de MAT"
                class="w-14 h-14 object-contain"
                loading="lazy"
            />
        </div>

        <!-- Derechos reservados -->
        <div class="text-center mt-8 text-sm text-gray-400">
            © 2024 MAT Company ·
            <a href="/terms" class="hover:underline">Términos y condiciones</a> ·
            <a href="/privacy-policy" class="hover:underline"
                >Política de privacidad</a
            >
        </div>
    </footer>
</Layout>

<style>
    .la-belle-aurore-regular {
        font-family: "La Belle Aurore", cursive;
        font-weight: 400;
        font-style: normal;
    }

    .parallax {
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .cta-container {
        position: fixed;
        bottom: 20px;
        right: 30px;
    }
    .cta-btn {
        background-color: #000000;
        padding: 15px 25px;
        border-radius: 25px;
        font-size: 14px;
        color: white;
        border: none;
        cursor: pointer;
        transform: scale(1);
        transition: transform 0.3s ease;
    }
    .cta-btn:hover {
        transform: scale(1.1);
    }
</style>
